<div class="main_container p-4">

    <div fxLayout="row wrap" fxLayoutAlign="start start">
        <div fxFlex="70">
            <div class="display-4">Users </div>
            <canvas id="myChart" height="70"></canvas>
        </div>
        <div fxFlex="30">
            <mat-grid-list cols="1" rowHeight="1:0.4">
                <mat-grid-tile style="background-color: #eeee;">
                    <div fxLayout="column">
                        <div class="mat-title">
                            Total Active Users Type
                        </div>
                        <div class="mat-caption" style="display: contents;">
                            <span>&bull; Fully supported : 126</span>
                            <span>&bull; partially supported : 986</span>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                        <div fxflex="60">
                            <div class="mat-body-2 py-3">
                                Chart date range
                            </div>
                            <button mat-raised-button color="primary">UPDATE</button>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="center start" fxflex="40">
                            <mat-form-field id="date-picker" appearance="fill">
                                <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field id="date-picker" appearance="fill">
                                <input matInput [matDatepicker]="picker1" placeholder="Choose a date">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
                        <div class="mat-caption" fxflex="60">
                            Frequency
                        </div>
                        <mat-form-field appearance="fill" fxflex="40">
                            <mat-select [(ngModel)]="frequency">
                                <mat-option value="monthly">
                                    Monthly
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap='5px'>
        <div fxLayout="row wrap" fxFlex="85" fxFlex.md="100">
            <div fxFlex="32">
                <div class="mat-caption px-1 mt-2" fxFlex="30">
                    Client Name
                </div>
                <mat-form-field appearance="fill" class="example-full-width" fxFlex="70">
                    <input matInput (keyup)="searchByName($event)" [(ngModel)]="ClientName" placeholder="Type a Client">
                </mat-form-field>
            </div>
            <ng-container *ngFor="let filterModel of filterModels">
                <div fxFlex="16">
                    <div class="mat-caption px-1 mt-2" fxFlex="40">
                        {{filterModel.label}}
                    </div>
                    <mat-form-field appearance="fill" fxFlex="60">
                        <mat-select [(ngModel)]="filterModel.model">
                            <mat-option [value]="data.value" *ngFor="let data of filterModel.data">
                                {{data.displayName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </ng-container>
        </div>
        <div fxLayoutAlign="end" fxLayout="row" fxLayoutGap='5px'>
            <button mat-raised-button (click)="resetFilter()">Reset</button>
            <button mat-raised-button color="primary" (click)="applyFilter()">Filter</button>
        </div>
    </div>
    <mat-card style="height: auto;">
        <mat-card-header>
            <div class="mat-body-1">
                <i class="fa fa-user pr-1" aria-hidden="true"></i>Users
                <button mat-raised-button>{{dataSource.data.length}}</button>
            </div>
        </mat-card-header>
        <mat-card-content>

            <div class="example-container px-3">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <button mat-raised-button color="primary" (click)="exportAsCSV()">
                        <div class="mat-body-1 py-2">
                            EXPORT TO CSV
                        </div>
                    </button>
                    <mat-paginator [pageSize]="10" showFirstLastButtons [pageSizeOptions]="[5, 10, 25]"
                        aria-label="Select page">
                    </mat-paginator>
                </div>
                <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name</th>
                        <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Email">
                        <th mat-header-cell *matHeaderCellDef>Email</th>
                        <td mat-cell *matCellDef="let element"> {{element?.emailAddress}} </td>

                    </ng-container>
                    <ng-container matColumnDef="Telephone">
                        <th mat-header-cell *matHeaderCellDef> Telephone</th>
                        <td mat-cell *matCellDef="let element"> {{element?.telephone}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Mobile">
                        <th mat-header-cell *matHeaderCellDef> Mobile</th>
                        <td mat-cell *matCellDef="let element"> {{element?.mobile}} </td>
                    </ng-container>

                    <ng-container matColumnDef="User_Type">
                        <th mat-header-cell *matHeaderCellDef> User Type</th>
                        <td mat-cell *matCellDef="let element"> {{element?.userType}} </td>
                    </ng-container>
                    <ng-container matColumnDef="User_Admin_Role">
                        <th mat-header-cell *matHeaderCellDef> User Admin Role</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="mat-body-2">
                                <i [class]="element?.isUserAdmin==true ? 'fa fa-check':'fa fa-times'"
                                    aria-hidden="true"></i>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Change_Approval">
                        <th mat-header-cell *matHeaderCellDef>Change Approval</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="mat-body-2">
                                <i [class]="element?.isChangeApproval==true ? 'fa fa-check':'fa fa-times'"
                                    aria-hidden="true"></i>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="VIP">
                        <th mat-header-cell *matHeaderCellDef> VIP</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="mat-body-2">
                                <i [class]="element.VIP==true ? 'fa fa-check':'fa fa-times'" aria-hidden="true"></i>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Ultra_VIP">
                        <th mat-header-cell *matHeaderCellDef>Ultra VIP</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="mat-body-2">
                                <i [class]="element.ultraVIP==true ? 'fa fa-check':'fa fa-times'"
                                    aria-hidden="true"></i>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="CST">
                        <th mat-header-cell *matHeaderCellDef>CST</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="mat-body-2">
                                <i [class]="element.CST==true ? 'fa fa-check':'fa fa-times'" aria-hidden="true"></i>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Spend">
                        <th mat-header-cell *matHeaderCellDef>Spend</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="mat-body-2">
                                <i [class]="element.spend==true ? 'fa fa-check':'fa fa-times'" aria-hidden="true"></i>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Site_Contact">
                        <th mat-header-cell *matHeaderCellDef>Site Contact</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="mat-body-2">
                                <i [class]="element.primarySiteContact==true ? 'fa fa-check':'fa fa-times'"
                                    aria-hidden="true"></i>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="All_Emails">
                        <th mat-header-cell *matHeaderCellDef>All Emails</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="mat-body-2">
                                <i [class]="element.isMailOn==true ? 'fa fa-check':'fa fa-times'"
                                    aria-hidden="true"></i>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Active">
                        <th mat-header-cell *matHeaderCellDef>Active</th>
                        <td mat-cell *matCellDef="let element">
                            <div class="mat-body-2">
                                <i [class]="element.active==true ? 'fa fa-check':'fa fa-times'" aria-hidden="true"></i>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>