.example-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-drawer.mat-drawer-side{
  width: 240px;
}
mat-sidenav {
  background: #eeee;
}
.mat-tree{
  background: none;
  cursor: pointer;
  .child {
    &.active {
      background-color: white;
    }

    &.inactive {
      cursor: pointer;
    }
  }
  .parent {
    &.active {
      padding-left:25px!important;
      background-color: #43748a;
      color: white;
    }
    
    &.inactive {
      padding-left:25px!important;
    }
  }
}

