.example-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}
.mat-drawer.mat-drawer-side{
  width: 240px;
}
.mat-tree {
  background: none;
}

mat-sidenav {
  background: #eeee;
}

mat-tree-node.active {
  background-color: #43748a;
  color: white;
}

mat-tree-node {
  .child {
    &.active {
      background-color: white;
    }

    &.inactive {
      padding: 0px 25px !important;
      cursor: pointer;
    }
  }

  .parent {
    &.active {

    }

    &.inactive {

    }
  }

  .tree-invisible {
    background-color: violet;
  }
}
