<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon >menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <mat-form-field appearance="fill" class="example-full-width">
      <input matInput placeholder="Search Open Ticket">
    </mat-form-field>
    <button mat-icon-button class="mr-4" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <i class="fa fa-ticket" aria-hidden="true"></i> <i class="fa fa-caret-down" style="font-size: medium;" aria-hidden="true"></i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    
    <mat-form-field class="example-full-width mr-4" appearance="fill">
      <input matInput placeholder="Search Users">
    </mat-form-field>
    <mat-form-field class="example-full-client mr-4" appearance="fill">
      <input matInput placeholder="Search Client">
    </mat-form-field>

    <button mat-icon-button class="mr-4" aria-label="Example icon-button with a menu">
         <i class="fa fa-key" aria-hidden="true"></i>
    </button>
    <button mat-icon-button class="mr-4" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <i class="fa fa-bell" aria-hidden="true"></i> 0 <i class="fa fa-caret-down mr-1" style="font-size: medium;" aria-hidden="true"></i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <span>Disable alerts</span>
      </button>
    </mat-menu>

    <button class="ml-2" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <i class="fa fa-user" aria-hidden="true">User</i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Redial</span>
      </button>
      <button mat-menu-item disabled>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  