.example-spacer {
    flex: 1 1 auto;
  }

mat-form-field{
    font-size: small;
    font-weight: 300;
  }
mat-toolbar{
  background-color: #083240;
  color: white;
}

mat-form-field input::placeholder{
  color: white;
}
