.example-spacer {
    flex: 1 1 auto;
  }

mat-form-field{
    font-size: small;
    font-weight: 300;
  }
mat-toolbar{
  color: white;
}

mat-form-field input::placeholder{
  color: white;
}

.icon-lighthouse-icon{
  color: #37474f;
  background: white;
  border-radius: 50%;
  font-size: 1.2rem;
  padding: 3px;
}