<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card>

      <mat-card-header>
        <i class="icon-lighthouse-icon" style="color:#083240; font-size:14em; width:200px; margin:0 auto;"></i>
        <h1 class="mat-display-1">LIGHTHOUSE</h1>
      </mat-card-header>
  
      <form class="example-form">
        
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <div fxLayout="row" fxLayoutAlign="center center">
          <a href="#" class="link-primary"><h3>Forgotten Password</h3> </a>
        </div>
        <button mat-stroked-button color="accent" class="btn-block" (click)="navigate()">SIGN IN</button>
      </form>
      <div fxLayout="row" fxLayoutAlign="center center">
        <div class="mat-subheading-2 text-muted pr-2">v2.26.1</div>
        <div class="mat-subheading-2"><a href="#" class="link-primary pl-2" style="border-left:1px solid #9f9a9a">Bluecube </a></div>
      </div>
    </mat-card>
  
  </div>