/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

  .login-wrapper {
    height: 100%;
  }

  .mat-display-1, .mat-typography .mat-display-1{
    margin: 0px
  }

  .login-wrapper .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
  }
  
  .login-wrapper .example-full-width,
  .login-wrapper .btn-block {
    width: 100%;
  }
  
  .login-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
  }
  
  .login-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
  }
  
  .login-wrapper .mat-card {
    padding: 40px 70px 50px;
    box-shadow:none
  }
  
  .login-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 45px;
    background: #083240;
  }
  .mat-stroked-button.mat-accent{
    color: white;
  }
  .mat-drawer-inner-container{
    padding: 0px 25px!important;
  }
  .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: transparent;
    padding: 0!important;

   }
  button:focus{
    outline: none!important;
  }