<mat-grid-list [cols]="mybreakpoint" rowHeight="3:2" gutterSize="15px" (window:resize)="handleSize($event)"
    style="margin: 20px;">
    <div class="display-4">Dashboard </div>
    <mat-grid-tile>
        <mat-card style="width: 100%;padding:0px">
            <div class="mat-subheading-2">
                <i class="fa fa-eur pr-1" aria-hidden="true"></i> Opportunities to close
                <button mat-mini-fab class="button-list">0
                </button>
            </div>
            <mat-card-header>

            </mat-card-header>
            <mat-card-content>
                <div class="example-container">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="Client/Name">
                            <th mat-header-cell *matHeaderCellDef> Client/Name </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Total_Profit">
                            <th mat-header-cell *matHeaderCellDef> Total Profit </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="opportunities; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: opportunities;"></tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width: 100%;padding:0px">
            <div class="mat-subheading-2"><i class="fa fa-bars pr-1" aria-hidden="true"></i>Your to do list </div>
            <mat-card-content>
                <div class="example-container">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="Client">
                            <th mat-header-cell *matHeaderCellDef> Client </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <ng-container matColumnDef="To_Do_Date">
                            <th mat-header-cell *matHeaderCellDef> To Do Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="toDoList; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: toDoList;"></tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card style="width: 100%;padding:0px">
            <div class="mat-subheading-2"> <i class="fa fa-comments pr-1" aria-hidden="true"></i>Clients you need to
                call
                <button mat-mini-fab class="button-list" aria-label="Example icon button with a filter list icon">0
                </button>
            </div>
            <mat-card-content>
                <div class="example-container">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="Client">
                            <th mat-header-cell *matHeaderCellDef> Client </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Last_Conversation_Date">
                            <th mat-header-cell *matHeaderCellDef> Last Conversation Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="clientCall; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: clientCall;"></tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
    <mat-grid-tile colspan=3>
        <mat-card style="width: 100%;padding:0px">
            <div class="mat-subheading-2"> <i class="fa fa-comments pr-1" aria-hidden="true"></i>Your most recent
                conservation </div>
            <mat-card-content>
                <div class="example-container">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="Client">
                            <th mat-header-cell *matHeaderCellDef> Client </th>
                            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Spoken_to">
                            <th mat-header-cell *matHeaderCellDef> Spoken to </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Notes">
                            <th mat-header-cell *matHeaderCellDef> Notes </th>
                            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>

                        <ng-container matColumnDef="Contacted">
                            <th mat-header-cell *matHeaderCellDef> Contacted </th>
                            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="recentConversation; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: recentConversation;"></tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>

    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="6" rowHeight="6:8" gutterSize="15px" (window:resize)="handleSize($event)" style="margin: 20px;">
    <div class="mat-title">Support Apps </div>
    <mat-grid-tile class="support-apps">
        <mat-card style="width: 100%;height: 100%;padding:0px">
            <h3 class="p-2 m-0">company</h3>
            <mat-card-content class="p-2">
                <div class="mat-caption" style="height: 90px;">The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </div> 
            </mat-card-content>
            <mat-card-actions class="card-footer p-2" xLayout="row" fxLayoutAlign="space-between center">
                <a href="#" class="link-primary">
                    <div class="mat-body-1"> Launch <i class="fa fa-external-link" aria-hidden="true"></i>  </div>                </a>
                <a href="#" class="link-primary">
                    <div class="mat-body-1"> Learn More</div> 
                </a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="support-apps">
        <mat-card style="width: 100%;height: 100%;padding:0px">
            <h3 class="p-2 m-0">company</h3>
            <mat-card-content class="p-2">
                <!-- <p style="height: 90px;">
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p> -->
                <div class="mat-caption" style="height: 90px;">The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </div> 
            </mat-card-content>
            <mat-card-actions class="card-footer p-2" xLayout="row" fxLayoutAlign="space-between center">
                <a href="#" class="link-primary">
                    <div class="mat-body-1"> Launch <i class="fa fa-external-link" aria-hidden="true"></i>  </div>                </a>
                <a href="#" class="link-primary">
                    <div class="mat-body-1"> Learn More</div> 
                </a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>